#!/bin/bash
# mise config hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
set -euo pipefail

{{ $mise := lookPath "mise" -}}
{{ if not $mise }}{{ $mise = (joinPath .chezmoi.homeDir ".local/bin/mise") }}{{ end -}}
"{{ $mise }}" install
